# Project
dist

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# OS
.DS_Store

# JSON data for browser source
/browser-source-files/credits-json.js
/browser-source-files/credits-config.js

# Test coverage
/coverage/
